@media only screen and (max-width: 639px) { 


       nav ul li {
            padding: 1.5rem 1rem;
            width: 100%;
            text-align: center;
        }
       nav ul li:hover {
           
             color: white;
            
             background-color: blue;
        }
}